@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --font-sans: var(--font-bebas-neue-sans);
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-bebas-neue-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F1F1F1;
    --foreground: #0a0a0a;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}